<%- include("header") -%>

<h2>This is the project of codemonk1307</h2>

<p>
    This project is completely developed by Sachin Mishra aka codemonk1307
    I would like to thank Angela Yu, Aman Kumar(Kanpuriya) and 
    Shikhar Verma(Sexy Beast)  for helping me in this project
    at each and every necessary step.

    THank you guys for testing this app.
    Hoping that you will enjoy this a lot.
    Do share it with others and don't forget to give your valuable feedback
</p>

<%- include("footer") -%>
